{% extends 'registration/base/base.html' %}
{% load static %}

    {%  block title %}index file{% endblock %}
    {% block stylefiles %}<link rel="stylesheet" href="{% static 'registration/styles/index.css' %}">
    {% endblock %}

{% block header %}
<form>
  <select> 
    {% for i in region %}
    <option value="{{ i.location }}">{{i.location}}</option>
    {% endfor %}
    
  </select>
 </form>
 <p><a href="{% url 'login' %}">My account</a></p>
{% endblock %}

{% block body %}
<div id="foo">
    <h1>Choose an expert here for cheap and faster solution </h1>
    {% if register %}
      {% for user in users %}
      {{ user.prfssn }}
      {% include 'registration/frequent/frequent.html' with fname=user.fname lname=user.lname prfssn=user.prfssn.name image=user.image.url phone_no=user.phone_no age=user.age slug=user.slug%}
      {% endfor %}
    {% endif %}
</div>
{% endblock %}
