{% extends 'registration/base/base.html' %}
{% load static %}

    {%  block title %}index file{% endblock %}
    {% block stylefiles %}<link rel="stylesheet" href="{% static 'registration/styles/index.css' %}">
    {% endblock %}


{% block body %}
<div id="foo">

 <form>
  <select> 
    {% for i in region %}
    <option value="{{ i.location }}">{{i.location}}</option>
    {% endfor %}
    
  </select>
 </form>
 <p><a href="{% url 'login' %}">My account</p>
    <h1>Chagua fundi hapa chini kwa msaada wa haraka na nafuu</h1>
    {% if register %}
      {% for user in users %}
      {% include 'registration/frequent/frequent.html' with fname=user.fname lname=user.lname image=user.image.url phone_no=user.phone_no age=user.age slug=user.slug%}
      {% endfor %}
    {% endif %}
</div>
{% endblock %}
